@charset "UTF-8";



:root {
    --cor01: #732441;
    --cor02: #933E65;
    --cor03: #973D60;
    --cor04: #285939;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
   
}

div.img {

}

div.formulario {
    background-color: #973D60;
    max-width: 50vw;
    margin: auto;
    color: white;
    padding: 25px;
}

div.formulario > h1, p {
    text-align: center;
    padding-bottom: 10px;
}

 input#limpar {
    margin: 10px;
    padding: 2px;
 }